@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}

/* underline animation  */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #212121;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    animation: animate-underline 1s linear;
}
@keyframes animate-underline {
    0% {
        transform: scaleX(1);
        transform-origin: bottom right;
    }
    40% {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    60% {
        transform: scaleX(0);
        transform-origin: bottom left;
    }
    100% {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
/* for reverse underline effect  */
.hover-underline-animation:not(:hover):after {
    animation: animate-underline-reverse 1s linear;
}

.navbar-underline-animation {
    position: relative;
}

.navbar-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
@keyframes animate-underline-reverse {
    0% {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    40% {
        transform: scaleX(0);
        transform-origin: bottom left;
    }
    60% {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    100% {
        transform: scaleX(1);
        transform-origin: bottom right;
    }
}

/* flip-text animation */
.text-flip-animation,
.text2-flip-animation {
    position: absolute;
    transform-style: preserve-3d;
    perspective: 600px;
    backface-visibility: hidden;
    transition: 0.5s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    @apply w-full text-center;
}

.text-flip-animation {
    animation-name: flip-banner-text;
}

.text2-flip-animation {
    animation-name: flip-banner-text2;
}

@keyframes flip-banner-text2 {
    0% {
        transform: rotateX(-180deg);
    }
    50% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-180deg);
    }
}

@keyframes flip-banner-text {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
